/*--color--*/
/*color pannel*/
/*color bar search city*/
/*color background box + background icon*/
/*--font--*/
/*Shrikhand*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
.logo, .title {
  font-family: "Shrikhand", cursive, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, p, a {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/*--btn order-mixing--*/
body {
  margin: 0;
}

/*--header--*/
/*header*/
#box-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box-header a {
  left: 5%;
  position: absolute;
  color: black;
}
#box-header .box-header__title {
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

/*picture*/
#picture {
  position: relative;
}

#picture img {
  height: 260px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

/*--section-menu--*/
#menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 15px 0;
  position: relative;
  margin-top: -50px;
}

.card-menu {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.card-menu__title-resto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__selector-food {
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.selector {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 2px #ededed;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: cascade 2.5s cubic-bezier(0, 0, 0, 1) forwards;
}
.selector:hover .price {
  transform: translate(-60px);
}
.selector:hover .selector__text {
  margin-right: 60px;
}
.selector:hover .checked {
  transform: translate(-60px);
}
.selector:hover .checked i {
  transform: rotate(1turn);
}

.selector__text {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 80%;
  overflow: hidden;
}
.selector__text h3 {
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selector__text p {
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-weight: bold;
  width: 60px;
  height: 100%;
  text-align: center;
  background-color: white;
  transition: transform 0.9s ease-in-out;
  line-height: 96px;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  position: absolute;
  right: -60px;
  transition: transform 1s ease-in-out;
}
.checked i {
  color: white;
  font-size: 1.5em;
  transition: transform 1s ease-in-out;
}

/*--animtion for apparition of menu--*/
@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.selector.selector-1 {
  animation-delay: 0.25s;
}

.selector.selector-2 {
  animation-delay: 0.5s;
}

.selector.selector-3 {
  animation-delay: 0.75s;
}

.selector.selector-4 {
  animation-delay: 1s;
}

.selector.selector-5 {
  animation-delay: 1.25s;
}

.selector.selector-6 {
  animation-delay: 1.5s;
}

.selector.selector-7 {
  animation-delay: 1.75s;
}

.selector.selector-8 {
  animation-delay: 2s;
}

.selector.selector-9 {
  animation-delay: 2.25s;
}

.selector.selector-10 {
  animation-delay: 2.5s;
}

/*--btn order--*/
.box-order {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.box-order__btn {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border-radius: 20px;
  padding: 12px 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 2px 2px 1px #ededed;
}
.box-order__btn:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 1px #868686;
}

/*--footer--*/
/*footer*/
#box-footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  justify-content: center;
  color: white;
  padding: 20px 0 20px 35px;
}
#box-footer .logo {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.box-footer__text {
  display: flex;
  flex-direction: column;
}

.box-link {
  display: flex;
  align-items: center;
}
.box-link i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}
.box-link .box-link__text {
  text-decoration: none;
  color: inherit;
  padding: 3px 0;
}

/*--media-queries--*/
/*size screen for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  #box-footer {
    height: 100px;
  }

  .box-footer__text {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 35px;
  }
}
/*size screen for desktop*/
@media screen and (min-width: 992px) and (max-width: 1800px) {
  #box-footer {
    align-items: center;
    padding: 20px 0 20px 65px;
    height: 100px;
  }

  .box-footer__text {
    flex-direction: row;
  }

  .box-link {
    margin-right: 105px;
  }
}
/*--media-queries-tablet--*/
/*size screen for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /*--section-menu--*/
  #menu {
    width: 80%;
    margin: -50px auto 0 auto;
    border: 1px solid black;
    border-bottom: none;
  }
}
/*--media-queries-desktop--*/
/*size screen for desktop*/
@media screen and (min-width: 992px) and (max-width: 1800px) {
  /*--section-menu--*/
  #menu {
    width: 98%;
    margin: -50px auto 0 auto;
    border: 1px solid black;
    border-bottom: none;
  }

  .card-menu {
    width: 95%;
  }

  .boxtest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .selector {
    height: 140px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    margin: 0 10px;
  }
  .selector:hover .selector__text {
    margin-right: 0;
  }
  .selector:hover .price {
    transform: translate(0px);
  }

  .selector__text {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0px;
  }

  .price {
    height: auto;
    line-height: 40px;
    font-size: 1.4em;
    border: 1px solid #99E2D0;
    border-radius: 100%;
    background-color: #99E2D0;
  }

  .checked {
    width: 60px;
    height: 50px;
    border-radius: 10px 0 20px 0;
    bottom: 0px;
  }

  .menu__selector-food {
    width: 30%;
  }
}

/*# sourceMappingURL=style2.css.map */
