/*--color--*/
/*color pannel*/
/*color bar search city*/
/*color background box + background icon*/
/*--font family--*/
/*Shrikhand*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
.logo, .title {
  font-family: "Shrikhand", cursive, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, p, a {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/*--btn--*/
body {
  margin: 0;
}

/*--header--*/
#box-header {
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

/*--section1-city+explore--*/
#box-reservation {
  display: flex;
  flex-direction: column;
}

.select-city {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border-top: 2px solid #cfcfcf;
}
.select-city input {
  border: none;
  width: 140px;
  margin-left: 10px;
  font-weight: bold;
  background-color: #eaeaea;
  font-size: large;
  outline: none;
}

.select {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  align-items: center;
  padding-bottom: 20px;
}
.select .select__text {
  padding: 0 50px;
  text-align: center;
  margin: 10px;
}
.select .select__button {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border-radius: 20px;
  padding: 12px 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 0px 0px 3px #ededed;
}
.select .select__button:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 0px 3px #868686;
}

/*--section2-operation--*/
#box-operation {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 25px 0;
}

.box-operation__3choice {
  display: flex;
  flex-direction: column;
}

/*box for one choice*/
.choice {
  display: flex;
  align-items: center;
  width: 95%;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 3px 3px 2px #ededed;
  position: relative;
  margin-bottom: 20px;
  /*animation*/
}
.choice:hover {
  background-color: #f5edff;
  box-shadow: 3px 3px 2px #868686;
}
.choice:hover i {
  color: #9356DC;
}

.choice__number {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -12.5px;
  background-color: #9356DC;
}

.choice__text {
  display: flex;
  align-items: center;
  width: 90%;
}
.choice__text i {
  margin-left: 2em;
  margin-right: 2em;
  color: #7e7e7e;
  width: 25px;
}
.choice__text .choice__text__name {
  font-weight: bold;
}

/*--section3-Resto--*/
#box-resto {
  display: flex;
  width: 100%;
  background-color: #f6f6f6;
}
#box-resto a {
  text-decoration: none;
  color: inherit;
}

.box-resto-global {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.box-resto__menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

/*box for one resto*/
.box-select-resto {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  box-shadow: 3px 3px 2px #ededed;
  border-radius: 20px;
}

/*picture of resto*/
.box-select-resto__picture {
  display: flex;
  justify-content: flex-end;
}
.box-select-resto__picture img {
  width: 100%;
  max-width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.box-select-resto__picture .box-select-resto__new {
  position: absolute;
  background-color: #99E2D0;
  padding: 8px;
  border-radius: 3px;
  color: #0a8d6d;
  margin-right: 15px;
}

/*text of resto*/
.box-select-resto__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 0 0 20px 20px;
}
.box-select-resto__text a {
  width: 100%;
  height: 170%;
  display: flex;
  align-items: center;
}
.box-select-resto__text h3 {
  margin: 0;
}
.box-select-resto__text p {
  margin: 0;
}

/*heart*/
/*heart*/
/*no-show for heart checked + function checkbox */
.custom-checkbox input[type=checkbox],
.custom-checkbox .checked-icon {
  display: none;
}

/*show for heart checked*/
.custom-checkbox input[type=checkbox]:checked ~ .checked-icon {
  display: inline-block;
}

/*no-show for heart unchecked*/
.custom-checkbox input[type=checkbox]:checked ~ .unchecked-icon {
  display: none;
}

/*heart unchecked*/
.far.fa-heart {
  font-size: 2em;
}

/*heart checked*/
.fas.fa-heart {
  color: transparent;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background-clip: initial;
  -webkit-background-clip: text;
  font-size: 2em;
  animation: heart 1s cubic-bezier(0.97, 0.03, 0.98, 0.36) forwards;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*--footer--*/
/*footer*/
#box-footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  justify-content: center;
  color: white;
  padding: 20px 0 20px 35px;
}
#box-footer .logo {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.box-footer__text {
  display: flex;
  flex-direction: column;
}

.box-link {
  display: flex;
  align-items: center;
}
.box-link i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}
.box-link .box-link__text {
  text-decoration: none;
  color: inherit;
  padding: 3px 0;
}

/*--media-queries--*/
/*size screen for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  #box-footer {
    height: 100px;
  }

  .box-footer__text {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 35px;
  }
}
/*size screen for desktop*/
@media screen and (min-width: 992px) {
  #box-footer {
    align-items: center;
    padding: 20px 0 20px 65px;
    height: 100px;
  }

  .box-footer__text {
    flex-direction: row;
  }

  .box-link {
    margin-right: 105px;
  }
}
/*--media-queries-tablet--*/
/*size screen for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /*section2-operation*/
  .box-operation__3choice {
    flex-direction: row;
  }

  .choice {
    width: 30%;
    height: 100px;
    margin-bottom: 0;
  }

  /*--section3-Resto--*/
  .box-select-resto {
    width: 48%;
  }
}
/*--media-queries-desktop--*/
/*size screen for desktop*/
@media screen and (min-width: 992px) {
  /*section2-operation*/
  .box-operation__3choice {
    flex-direction: row;
  }

  .choice {
    width: 31%;
    height: 100px;
  }

  /*--section3-Resto--*/
  .box-select-resto {
    width: 48%;
  }

  .box-select-resto__picture img {
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
