@media screen and (max-width:768px)
{

@import "./base/color.scss";

body{
    margin:0;
  }
  
@import "./layouts/header.scss";

/*picture*/
#picture img{
    height: 250px;
    width: 100%;
    object-fit: cover; 
}

#menu{
    width: 100%;    
    background-color: $color-background;   
    border-radius:40px 40px 0 0;    
}

/*title-resto*/
#title-resto{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    h1{
        font-style: italic;
    }
}

.selector{
    width: 95%;
    height: 70px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:blue;
    margin: auto;    
    border-radius: 20px;
    box-shadow:3px 3px 2px #ededed;
    h3{
        margin: 2px 0;
        padding: 0 10px;
    }
}

.selector__text{display: flex;
    justify-content: space-between;
    padding: 0 10px;
    p{
        margin: 0;        
    }
    .price{
        font-weight: bold;
    }
}

/*order*/
#box-order{
    width: 100%;
    display: flex;
    justify-content: center;
    .box-order__btn{
        border-radius: 20px; 
        padding: 10px;
        color:white;
        font-weight: bold;
    }
}

@import "./layouts/footer";

}





