@mixin btn {
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    border-radius: 20px;
    padding: 12px 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 1px #ededed;
    

    &:hover {
        opacity: 0.8;
        box-shadow: 2px 2px 1px #868686;
    }
}
