/*size screen for desktop*/
@media screen and(min-width:992px) {

    /*section2-operation*/
    .box-operation__3choice {
        flex-direction: row;
    }

    .choice {
        width: 31%;
        height: 100px;
    }

    /*--section3-Resto--*/

    .box-select-resto {
        width: 48%;
    }

    .box-select-resto__picture img {
        height: 300px
    }
}