/*footer*/
#box-footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  justify-content: center;
  color: white;
  padding: 20px 0 20px 35px;

  .logo {
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.5em;
  }
}

.box-footer__text {
  display: flex;
  flex-direction: column;
}

.box-link {
  display: flex;
  align-items: center;

  i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
  }

  .box-link__text {
    text-decoration: none;
    color: inherit;
    padding: 3px 0;
  }
}

/*--media-queries--*/

/*size screen for tablet*/
@media screen and(min-width:768px) and (max-width:992px) {
  #box-footer{
    height: 100px;
  }
  
  .box-footer__text {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 35px;
  }
}

/*size screen for desktop*/
@media screen and(min-width:992px) and (max-width:1800px) {
  #box-footer {
    align-items: center;
    padding: 20px 0 20px 65px;
    height: 100px;
  }

  .box-footer__text {
    flex-direction: row;
  }

  .box-link {
    margin-right: 105px;
  }
}